@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@layer tailwind-base, primereact, tailwind-utilities;




@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


/* body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#86077f 1.25px, transparent 1.25px), radial-gradient(#86077f 1.25px, #e5e5f7 1.25px);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
} */

:root {
  --font-family: 'Quicksand', sans-serif !important;
}

.login-card .p-card-body {
  padding: 16px !important;
}

.login-card .p-card-header {
  padding: 16px !important;
}

.order-card-container [data-pc-section="header"] {
  padding: 0 !important;
}

.order-card-container [data-pc-section="body"] {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.order-card-container [data-pc-section="footer"] {
  padding: 0 !important;
}

.button-wrapper-pink button:focus {
  box-shadow: 0 0 0 3px rgba(255, 138, 225, 1) !important;
}

.button-wrapper-violet button:focus {
  box-shadow: 0 0 0 3px rgb(99, 2, 112) !important;
}

.button-wrapper-white button:focus {
  box-shadow: 0 0 0 3px rgb(223, 223, 223) !important;
}

.button-wrapper-black button:focus {
  box-shadow: 0 0 0 3px rgb(58, 58, 58) !important;
}